@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Share CSS */
.bg_color{
    background-color: #FF5400;
}
/* Nav Section */
*{
    font-family: "Mulish", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav div{
    display: flex;
    align-items: center;
}
nav div h3{
    font-weight: 800;
    font-size: 3em;
    margin: 0;
    margin-left: 0.3em;
}
nav div h3 span{
    color: #FF5400;
}
nav div img{
    height: 40px;
    width: 40px;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 1.125em;  
}
nav a{
    list-style: none;
}

#menu_icon{
    display: none;
}

/* Banner Section */
#banner_container{
    background-image: url('./../Images/Group 13 (1) (1).png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 1em;
    height: 500px;
    margin-top: 2em;
   /* position: relative; */
}

#banner_head{
    margin-bottom: 0;
    padding-top: 2em;
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-weight: 800;
    color: white;
}

#banner_desc{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 1em;
}

#search_container{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.bg{
    border: 1px solid white;
    background-color: white;
    padding: 0 0.5em;
    width: 11em;
    height: 3.25em;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    color: rgba(19, 19, 24, 0.50);
}

.image_search{
    height: 1em;
    width: 1em;
    margin-top: 1em;
}

#button{ 
    border: transparent;
    padding: 0 0.5em;
    width: 14em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 0.5em;
    color: white;
}

#find{
    margin-top: 0;
}

/* Tours Section */

#tours_container{
    margin-top: 3em;
    display: flex;
    gap: 5em;
}

#tours_heading{
    font-size: 3em;
    font-weight: 800;
}

#read_button{
    border: transparent;
    padding: 0.8em 1em;
    border-radius: 0.5em;
    color: white;
}

/* Destination Section */
#image_container{
    margin: 0 10em;
}

#destination_heading{
    font-size: 3em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

#destination_desc{
    /* width: 40em; */
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    
}

/* Why Choose Us Section */
#choose_heading{
    font-size: 3em;
    font-weight: 800;
    display: flex;
    justify-content: center;
}
#choose_desc{
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.choose_us_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.service:nth-child(3) {
    grid-column: span 2; /* Make it span across both columns */
    justify-self: center; /* Center horizontally within the grid */
  }
.service{
    height: 14em;
    width: 35.81em;
    padding: 2em;
    border-radius: 1em;
}
#service_1{
    background-color: rgba(251, 181, 99, 0.05);
}
#service_2{
    background-color: rgba(41, 206, 246, 0.05);
}
#service_3{
    background-color: rgba(233, 68, 68, 0.05);
}

.service_heading{
    font-size: 1.4em;
    font-weight: 800;
}

/* Deals and Discounts Section */

/* .clock{
    color:#FF5400;
} */
#deals_heading{
    font-size: 3em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
#deals_desc{
    display: flex;
    justify-content: center;
}
#image_1{
    display: flex;
    gap: 0.5em;
}
#image_2{
    display: flex;
    gap: 0.5em;
}
#image_3{
    display: flex;
    gap: 0.5em;
}
#icon_container{
    display: flex;
    gap: 1.5em;
}
#deals_discounts_1{
    position: relative;
}
#deals_container_1{
    width: 34em;
    border: 2px solid white;
    border-radius: 1em;
    padding: 4em;
    background-color: rgba(255,255,255,0.80);
    position: absolute;
    right: 5em;
    top: 7em;
}
#deals_discounts_2{
    position: relative;
}
#deals_container_2{
    width: 34em;
    border: 2px solid white;
    border-radius: 1em;
    padding: 4em;
    background-color: rgba(255,255,255,0.80);
    position: absolute;
    left: 5em;
    top: 7em;
}
.image{
    width: 93.93em;
}

#price{
    color: #FF5400;
    font: 800;
    font-size: 1.5em;
}
#button_book{
    color: white;
    padding: 0.9em 1.7em;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 1em;
    border: transparent;
}

#packages_btn{
    padding: 1em;
    border-radius: 1em;
    color: white;
    margin-left: 25em;
    border: transparent;
    font-weight: 800;
    font-size: 1.5em;
}

/* Perfect Place Section */

#perfect_place{
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfect_place_heading{
    font-size: 2em;
    font-weight: 800;
}
#list_items{
    font-weight: 700;
}
#see_more_button{
    padding: 1em 1em;
    border: transparent;
    border-radius: 1em;
    font-weight: 800;
    font-size: 1em;
    color: white;
}

/* Newsletter Section */
#Newsletter_container{
    display: flex;
    justify-content: space-between;
}
#input_section{
    border: 1px solid #FF5400;
    padding: 2em;
    border-radius: 1em;
}
#newsletter_head{
    font-size: 1.5em;
    font-weight: 800;
}

.input{
    padding: 1em;
    width: 28em;
    margin-bottom: 1em;
    background-color: rgba(19, 19, 24, 0.05);
    border: transparent;
    border-radius: 0.5em;
}

#subscribe_btn{
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    padding: 0.5em 2em;
    border: transparent;
    border-radius: 0.5em;
    width: 17em;
}

#newsletter_image{
    position: relative;
}

#discount_card{
    background-color: #FF5400;
    color: white;
    padding: 0.5em 1em;
    width: 14em;
    border-radius: 1em;
    position: absolute;
    transform: translate(-5%, -30%) rotate(-19deg);
    right: 0;
    bottom: 0;
}

#discount{
    font-size: 1.4em;
    font-weight: 800;
}

/* Footer */
footer{
    margin-top: 3em;
    padding-left: 25em;
    padding-top: 5em;
    padding-bottom: 4em;
    background-color: rgba(19, 19, 24, 0.05);
}
#footer_container{
    width: 45em;
}
#logo{
    display: flex;
    justify-content: center;
}
.desc{
    display: flex;
    justify-content: center;
}

#footer_image_container{
    display: flex;
    justify-content: center;
}


/* Responsive for Mobile */
@media screen and (max-width:600px) {

   
    /* Nav Section */

    nav li{
        display: none;
    }
    #menu_icon{
        display: block;
    }
    nav div h3{
        font-weight: 500;
        font-size: 2em;
        margin: 0;
        margin-left: 0.3em;
    }

    /* Banner Section */
    #banner_head{
        margin-bottom: 0;
        padding-top: 2em;
        display: flex;
        justify-content: center;
        font-size: 2em;
        font-weight: 800;
        color: white;
    }

    #banner_desc{
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 400;
        font-size: 1em;
        margin-left: 2em;
    }

    #search_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;
    }

    /* Tours Section */

    #tours_container{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    }
    #image_container{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    #destination_heading{
        font-size: 2em;
    }
    #destination_desc{
        font-size: 1em;
    }

    /* Choose us section */
    .choose_us_container{
        display: block;
    }
    .service{
        margin-top: 1em;
    }
    /* Deals and Discounts Section */
    #deals_heading{
        font-size: 2em;
    }
 
    #deals_discounts_1{
        position: relative;
    }
    #deals_container_1{
        width: 24em;
        border: 2px solid white;
        border-radius: 1em;
        padding: 1em;
        background-color: rgba(255,255,255,0.80);
        position: absolute;
        right: 2.5em;
        top: 14em;
    }
    #deals_container_2{
        width: 24em;
        border: 2px solid white;
        border-radius: 1em;
        padding: 1em;
        background-color: rgba(255,255,255,0.80);
        position: absolute;
        right: 0.1em;
        top: 14em;
    }
    .image{
        width: 35em;
        height: 40em;
    }
    #packages_btn{
        margin-left: 13em;
        font-size: 1em;
    }
    /* Perfect Place Section */

    #perfect_place{
        display: block;

    }
    #see_more_button{
        margin-bottom: 1.5em;
    }
    /* Newsletter Section */
    #Newsletter_container{
        display: block;
        margin-top: 0.5em;
    }
    #discount_card{ 
        transform: translate(63%, -30%) rotate(-19deg);
    }
    footer{
        margin-top: 1em;
        padding-left: 2em;
        padding-top: 1em;
        padding-bottom: 2em;
    }
    #footer_container{
        width: 30em;
    }
    
}