@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Share CSS */
.bg_color{
    background-color: #FF5400;
}

/* Nav Section */
*{
    font-family: "Mulish", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav div{
    display: flex;
    align-items: center;
}
nav div h3{
    font-weight: 800;
    font-size: 3em;
    margin: 0;
    margin-left: 0.3em;
}
nav div h3 span{
    color: #FF5400;
}
nav div img{
    height: 40px;
    width: 40px;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 1.125em;  
}
nav a{
    list-style: none;
}

#menu_icon{
    display: none;
}

/* Banner Section */
#banner_container{
    background-image: url('./../Images/Group 13 (1) (1).png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 1em;
    height: 500px;
    margin-top: 2em;
   /* position: relative; */
}

#banner_head{
    margin-bottom: 0;
    padding-top: 2em;
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-weight: 800;
    color: white;
}

#banner_desc{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 1em;
}

#search_container{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.bg{
    border: 1px solid white;
    background-color: white;
    padding: 0 0.5em;
    width: 11em;
    height: 3.25em;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    color: rgba(19, 19, 24, 0.50);
}

.image_search{
    height: 1em;
    width: 1em;
    margin-top: 1em;
}

#button{ 
    border: transparent;
    padding: 0 0.5em;
    width: 14em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 0.5em;
    color: white;
}

#find{
    margin-top: 0;
}

/* Tours Section */

#tours_container{
    margin-top: 3em;
    display: flex;
    gap: 5em;
}

#tours_heading{
    font-size: 3em;
    font-weight: 800;
}

#read_button{
    border: transparent;
    padding: 0.8em 1em;
    border-radius: 0.5em;
    color: white;
}

/* Destination Section */
#image_container{
    margin: 0 10em;
}

#destination_heading{
    font-size: 3em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

#destination_desc{
    /* width: 40em; */
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    
}


/* Responsive for Mobile */
@media screen and (max-width:600px) {

    /* Nav Section */

    nav li{
        display: none;
    }
    #menu_icon{
        display: block;
    }
    nav div h3{
        font-weight: 500;
        font-size: 2em;
        margin: 0;
        margin-left: 0.3em;
    }

    /* Banner Section */
    #banner_head{
        margin-bottom: 0;
        padding-top: 2em;
        display: flex;
        justify-content: center;
        font-size: 2em;
        font-weight: 800;
        color: white;
    }

    #banner_desc{
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 400;
        font-size: 1em;
        margin-left: 2em;
    }

    #search_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;
    }

    /* Tours Section */

    #tours_container{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    }
    #image_container{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    #destination_heading{
        font-size: 2em;
    }
    #destination_desc{
        font-size: 1em;
    }
}